.parent {
  width: 500px;
  background-color: orange;
  padding: 16px;
}
.child {
  width: 100%;
  background-color: yellow;
  padding: 16px;
}
.grand {
  width: 100%;
  background-color: skyblue;
  padding: 16px;
}